@model Quote
@{
    Layout = "_quizLayout";
}
@{ViewData["Title"] = "Quiz";
}
<ul class="nav nav-tabs">
    <li role="presentation"><a style="text-decoration: none; color: inherit" asp-controller="Home" asp-action="Index">The Quote Quiz</a></li>
    <li role="presentation" class="active"><a style="text-decoration: none; color: inherit" asp-action="TakeQuiz">Take The Quiz</a></li>
    <li role="presentation"><a a style="text-decoration: none; color: inherit" asp-action="AddQuote">Submit a Quote</a></li>
</ul>

<div class="container">
    <div class="page-header text-center">
        <h1>"@Model.Text"</h1>
    </div>
    <!--
        <div class="quiz" id="quiz" data-toggle="buttons">
        <label class="btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="1">1 One</label>
        <label class=" btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="2">2 Two</label>
        <label class=" btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="3">3 Three</label>
        <label class=" btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="4">4 Four</label>
    </div>
       -->
    <form class="p-a-1" asp-action="TakeQuiz" method="post">
        <h2>Who said this?</h2>
        <div class="radio">
            <label><input type="radio" name="name" value="@ViewBag.n1">@ViewBag.n1</label>
        </div>
        <div class="radio">
            <label><input type="radio" name="name" value="@ViewBag.n2">@ViewBag.n2</label>
        </div>
        <div class="radio">
            <label><input type="radio" name="name" value="@ViewBag.n3">@ViewBag.n3</label>
        </div>
        <div class="radio">
            <label><input type="radio" name="name" value="@ViewBag.n4">@ViewBag.n4</label>
        </div>
        <!--begin second column-->
        <h2>In which movie?</h2>
        <div class="radio">
            <label><input type="radio" name="title" value="@ViewBag.t1">@ViewBag.t1</label>
        </div>
        <div class="radio">
            <label><input type="radio" name="title" value="@ViewBag.t2">@ViewBag.t2</label>
        </div>
        <div class="radio">
            <label><input type="radio" name="title" value="@ViewBag.t3">@ViewBag.t3</label>
        </div>
        <div class="radio">
            <label><input type="radio" name="title" value="@ViewBag.t4">@ViewBag.t4</label>
        </div>
        <!--hidden input holding the answer index location-->
        <input type="hidden" name="answerId" value="@ViewBag.answerId">
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
